.App {
	text-align: center;
}

h2.my-events {
	font-weight: lighter;
	margin: 1rem auto;
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}
h2.my-events p {
	text-decoration: underline;
}

h2.my-events div button {
	margin: 0 0.5rem;
}

button {
	background-color: #13131373;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	transition: ease-out background-color 0.5s;
}

button:hover {
	background-color: #131313;
}

div.event {
	border: 1px solid #13131373;
	padding: 1rem;
	border-radius: 15px;
	margin: 1rem auto;
	width: 40%;
	display: flex;
	flex-direction: column;
	text-align: start;
	transition: ease-in box-shadow 0.5s;
}

div.event:hover {
	box-shadow: 0 0 10px #13131373;
}

div.event p {
	margin: 1rem 0;
}

div.event button {
	width: 7rem;
}
